<!doctype html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="/stylesheets/index.css" />
  <link rel="stylesheet" href="/stylesheets/footer.css" />
</head>

<body>
  <%-include('nav')%>

    <%-include('side')%>

      <%-include('category')%>

        <%-include('search')%>

          <%-include('mainPosts')%>
            <%-include('categoryPosts')%>

              <%-include('footer')%>


                <div id="path-data" data-path-id="<%=path%>">
                </div>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="javascripts/index.js"></script>

</html>